# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

tags

# temporary files
*.swp

# VS local dbs
*.sdf
*.opensdf

# VS ipch
workspace/ipch/*

# VS upgrade junk
UpgradeLog.*
_UpgradeReport_Files
workspace/Backup/*
