# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

tags

# project config output
r7_release
r7_debug
debug
release
Debug
Release

# temporary files
*.swp

# VS local dbs
*.sdf
*.opensdf
*.aps

# VS ipch
workspace/ipch/*

# VS upgrade junk
UpgradeLog.*
_UpgradeReport_Files
workspace/Backup/*
source/jpeg-8/Backup/*

# other VS garbage
*.suo
*.ncb

# Doxygen output
docs/*

# ignore CLion files
.idea/
build

# AutoRecover files
~AutoRecover.*
