# example of obfuscation
# You can use any llvm obfuscator project. this example is using Arkari

# WARNING: Always make sure you are using trusted sources.

# LLVM_MINGW_REPOSITORY="https://github.com/mstorsjo/llvm-mingw"
# LLVM_MINGW_VERSION=20260616
# LLVM_REPOSITORY="https://github.com/jbx81-1337/Arkari"
# LLVM_VERSION="llvm-22.x"
# LLVM_MINGW_ADDITIONAL_ARGS="-mllvm -irobf-indbr -mllvm -irobf-icall -mllvm -irobf-indgv -mllvm -irobf-cse -mllvm -irobf-fla"
