*/.classpath
*/.project
*/.settings
*/bin
*/target
*/*/.classpath
*/*/.project
*/*/.settings
*/*/bin
*/*/target
*.iml
*.swp
*.orig
*.rej
*~
.idea/
androidpayload/ndkstager/libs
androidpayload/ndkstager/obj
.DS_Store
*.iml
